<main>
  <div>
    <h1>HOW CAN WE HELP YOU?</h1>
    <p>Whether you’re in the earliest stages of planning or you have a site that’s ready to go, it’s never too early to
      involve
      us. We can advise and assist you at every stage so let’s start the conversation today.</p>
    <div class="contact">
      <p>fagusns@gmail.com</p>
      <p>+381 61 000 000</p>
    </div>
    <div class="socials">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</main>