.navbar-static {
  background-color: transparent;
  color: #fff
}

.navbar-scroll {
  background-color: rgba($color: #fff, $alpha: .95);
  color: #000
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  color: #fff;
  backdrop-filter: blur(4px);

  p {
    padding: 20px 0;
    margin-bottom: 0;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__logo {
    margin-right: 250px;
    font-size: 1.1rem;

    .nav__logo-name {
      font-weight: 600;
    }
  }

  .nav__links {
    font-weight: 500;

    p {
      margin-right: 30px !important;

      span {
        cursor: pointer;
      }
    }
  }


}