main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: #fff;

  div {
    width: 50%;
  }

  font-size: 1.3rem;
}