<main>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid reiciendis porro doloremque aspernatur molestiae
      laboriosam fugit maiores dolorum distinctio assumenda. fugit maiores dolorum distinctio assumenda.</p>
    <br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem perspiciatis, atque sequi hic qui incidunt
      voluptatem iusto velit obcaecati quod accusamus consectetur rem, rerum ipsum! Lorem ipsum, dolor sit amet
      consectetur</p>
  </div>
</main>