<main>
  <div>
    <h1>NEKI OD NASIH<br>NEDAVNIH RADOVA</h1>
  </div>
  <div class="recent">
    <div>
      <img src="../../../assets/images/kitchen1.png" alt="kitchen1">
      <h2>IZRADA ENTERIJERA</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, numquam!</p>
    </div>
    <div>
      <img src="../../../assets/images/kitchen1.png" alt="kitchen1">
      <h2>DIZAJN & IZARADA ENTERIJERA</h2>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div>
      <img src="../../../assets/images/kitchen1.png" alt="kitchen1">
      <h2>IZRADA ENTERIJERA</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi itaque pariatur, aliquam minus fugiat non.</p>
    </div>
  </div>
</main>