<main>
  <div>
    <h1>SOME OF OUR<br>RECENT WORK</h1>
  </div>
  <div class="recent">
    <div>
      <img src="../../../assets/images/kitchen1.png" alt="kitchen1">
      <h2>INTERIOR PRODUCTION</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, numquam!</p>
    </div>
    <div>
      <img src="../../../assets/images/kitchen1.png" alt="kitchen1">
      <h2>INTERIOR DESGIN & PRODUCTION</h2>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div>
      <img src="../../../assets/images/kitchen1.png" alt="kitchen1">
      <h2>INTERIOR PRODUCTION</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi itaque pariatur, aliquam minus fugiat non.</p>
    </div>
  </div>
</main>