<main>
  <div>
    <h1>KAKO MOZEMO DA VAM POMOGNEMO?</h1>
    <p>Bilo da ste u ranijim fazama planiranja, ili imate ideju koja treba da se izradi, nikada nije previse kasno da
      nas kontaktirate. Mozemo Vas posavetovati i pomoci Vam u bilo kojoj fazi vase izrade, zato nas kontaktirajte vec
      danas.</p>
    <div class="contact">
      <p>fagusns@gmail.com</p>
      <p>+381 61 000 000</p>
    </div>
    <div class="socials">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</main>