<main>
  <div>
    <h1>CIME SE MI BAVIMO</h1>
  </div>
  <div class="works">
    <div>
      <img src="../../../assets/images/bathroom.png" alt="">
      <div>
        <p>IZARADA KUHINJA</p>
      </div>
    </div>
    <div>
      <img src="../../../assets/images/kitchen1.png" alt="">
      <div>
        <p>IZARADA NAMESTAJA</p>
      </div>
    </div>
    <div>
      <img src="../../../assets/images/bedroom.png" alt="">
      <div>
        <p>IZARADA KUPATILA</p>
      </div>
    </div>
    <div>
      <img src="../../../assets/images/closet.png" alt="">
      <div>
        <p>IZARADA SOBA</p>
      </div>
    </div>
  </div>
</main>