<main>
  <div class="left">
    <img src="../../../assets/images/bathroom.png" alt="closet">
  </div>
  <div class="right">
    <div>
      <h1>ZASTO DA IZABERETE NAS KAO VASEG DIZAJNERA ENTERIJERA?</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus cumque libero dolorem optio enim eaque
        quisquam a ea laboriosam consequuntur excepturi reprehenderit commodi, modi amet. Assumenda eos mollitia a
        rerum.
      </p>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in earum blanditiis. Similique minus nam ad
        laudantium temporibus reprehenderit aliquid veniam. Consequuntur adipisci alias placeat iure, consectetur
        numquam repudiandae tenetur laborum inventore commodi, possimus blanditiis! numquam repudiandae tenetur laborum
        inventore commodi, possimus blanditiis!
      </p>
    </div>
  </div>
</main>