footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #232323;
  color: #fff;
  height: 100px;
  padding: 40px;

  .nav__logo {
    font-size: 1.1rem;

    .nav__logo-name {
      font-weight: 600;
    }
  }
}